# The username to login
USER = ''
# The password to login
PASS = ''
# The site url (without trailing slash)
URL = ''
# The course id where to test
COURSE = 
# The directory path where the files are located
DIRECTORIO = ''